<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">
  <h1>
    {{ title }}
  </h1>
 <!-- <h2>
  &lt;!&ndash;<input type="button" value="Add Employee">&ndash;&gt;
    <a href="#">Add Employee</a>
  </h2>-->
</div>
<div class="table-header">
  <a href="#">Add Employee</a>
</div>
<!--<div class="container">

   &lt;!&ndash; <h1>{{title}}</h1>&ndash;&gt;
    <button>Add Employee</button>

  <app-employees></app-employees>
</div>-->

<app-employees></app-employees>


<div class="app-footer" style="min-width: 100%; height: auto; position: fixed;" fxLayout="column">
  <div fxLayout="row wrap" fxLayoutAlign="center center" fxHide.xs="true" fxHide.sm="true">
        <span class="footer-text" style="padding:10px 10px; font-size: 18px;
    color: beige; text-align: center">
     {{date | date:'yyyy'}} &nbsp;Home Depot Product Authority. LLC.
     </span>
  </div>
</div>

