.datatable-header-cell{
  color: red;
  width: 80%
}
.datatable-header-cell-label{
  color: #232323;
  font-weight: bold;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table{
  margin-top: 20px;
  margin-bottom: 40px;
}
